body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
    background-color: rgb(211, 210, 210);

}
.ongoing{
    padding: 16px, 16px, 16px, 0;
    font-weight: bold;
    color: white;
}
.result{ 
    font-weight: bold;
    color: white;
    font-size: 24px;

}
.result-box {
    margin: 30px 30px 0 30px;
    height: 80px;
    border-radius: 16px;
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
    padding: 16px;
}

.buttons-container{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 40px 40px;
    
}
button{
    padding: 5px;
    border-radius: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    height:50px;
    width: 50px;
    margin: 7px;
    background-color: rgb(103, 103, 103);
    font-weight: bold;
    color: white;
    font-size: 18px;
    border: 0;
}
#equal{ width: 110px;
    border-radius: 40px;

}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 16px;
    background-color: rgb(18, 18, 18);
    margin:16px;
    border-radius: 16px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);

}
